@charset "UTF-8";
/* Reduire les répetitions de
font-size: 1rem;
*/
/* Faire une extension avec les 
padding-left des h2
*/
.p-l-h2, section.operation h2 {
  padding-left: 1.2rem;
}

.bloc-list, .operation__list, .menu__starter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 25px;
}

.bloc-list-item, .operation__list li, .menu__starter__list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 400px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 0;
  -webkit-box-shadow: #d9d9d9 0px 5px 5px 0px;
          box-shadow: #d9d9d9 0px 5px 5px 0px;
  font-size: 1rem;
}

header {
  padding: 1.3rem 1.3rem;
  padding-bottom: 5px;
  -webkit-box-shadow: #CFCFCF 0px 3px 5px 0px;
          box-shadow: #CFCFCF 0px 3px 5px 0px;
  text-align: center;
}

header img.header__brand-logo {
  width: 52%;
}

.search {
  width: 100%;
  text-align: center;
  background-color: #EAEAEA;
  padding: 6px;
}

.search__input {
  margin: 10px;
  border: none;
  background-color: #EAEAEA;
}

.search__input::-webkit-input-placeholder {
  color: #000000;
  font-size: 1rem;
}

.search__input:-ms-input-placeholder {
  color: #000000;
  font-size: 1rem;
}

.search__input::-ms-input-placeholder {
  color: #000000;
  font-size: 1rem;
}

.search__input::placeholder {
  color: #000000;
  font-size: 1rem;
}

.presentation {
  padding: 1.3rem 1.3rem;
  text-align: center;
  background-color: #F6F6F6;
}

.presentation__heading {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.presentation__paragraph {
  font-weight: lighter;
  font-size: 1.1rem;
}

.presentation__button {
  width: 220px;
  border: none;
  border-radius: 25px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

section.operation {
  padding: 1.3rem 1.3rem;
}

.operation__list {
  position: relative;
}

.operation__list li {
  padding-left: 5px;
}

.operation__list li:hover {
  background-color: rgba(146, 86, 220, 0.12);
}

.operation__list li:hover .fas {
  color: #9356DC;
}

.operation__list li span {
  position: absolute;
  left: -12PX;
  border-radius: 50%;
  border: 1px solid #9356DC;
  padding: 4px 8px;
  background-color: #9356DC;
  font-size: 0.8rem;
  color: #FFFFFF;
}

.operation__list li i {
  margin: 0 1.5rem 0 .7rem;
  color: #7e7e7e;
  font-size: 1.2rem;
  padding-left: 20px;
}

.selection {
  padding: 1.3rem 1.3rem;
  background-color: #F6F6F6;
}

.selection__restaurant {
  padding-bottom: 30px;
}

.selection__restaurant__card {
  width: auto;
  height: 15.5rem;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.1rem;
  -webkit-box-shadow: #d9d9d9 0px 5px 5px 0px;
          box-shadow: #d9d9d9 0px 5px 5px 0px;
}

.selection__restaurant__card img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  z-index: 1;
}

.selection__restaurant__card span.new {
  position: absolute;
  z-index: 2;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #2c9c81;
}

.selection__restaurant__card__description {
  border: 1px solid #F6F6F6 #000000;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 20px;
  position: relative;
}

.selection__restaurant__card__description h3 {
  margin: 0px;
  padding-bottom: 2px;
}

.selection__restaurant__card__description p {
  margin: 0;
  font-weight: 300;
  font-size: 1.05rem;
}

.selection__restaurant__card__description i.far.fa-heart {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
  background-color: #FFFFFF;
}

.footer-nav {
  background-color: #353535;
  padding: 1.3rem 1.3rem;
}

.footer-nav__logo {
  padding-bottom: 20px;
}

.footer-nav__logo a {
  font-size: 1.1rem;
  color: #FFFFFF;
  font-family: "Shrikhand", cursive;
}

.footer-nav__links {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  margin-bottom: 0;
}

.footer-nav__links i {
  padding-right: 10px;
}

.footer-nav__links i.fa-hands-helping {
  font-size: 0.7rem;
}

.footer-nav__links__item {
  padding-bottom: 8px;
  font-size: 1rem;
}

.footer-nav__links__item a {
  color: #FFFFFF;
}

/*page menu1
*/
.fa-arrow-left {
  float: left;
  left: 20px;
  top: 25px;
  font-size: 1.3rem;
}

.banner {
  width: 100%;
  height: 210px;
  position: relative;
}

.banner__img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 25px 25px 0 0;
  position: absolute;
  padding: 1.3rem 1.3rem;
}

.menu__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__bloc__heading {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  padding-right: 30px;
  margin: 0;
}

.menu__bloc p i {
  text-align: rignt;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__starter {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1rem;
}

.menu__starter__list__item {
  display: none;
}

form {
  text-align: center;
}

form .order__button {
  width: 200px;
  border: none;
  border-radius: 25px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}
/*# sourceMappingURL=main.css.map */