.bloc-list, .instructions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 25px;
}

.bloc-list-item, .instructions__list li {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #F6F6F6;
  -webkit-box-shadow: #d9d9d9 0px 5px 5px 0px;
          box-shadow: #d9d9d9 0px 5px 5px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  height: 70px;
  margin-bottom: 20px;
  max-width: 400px;
  padding-bottom: 0;
  position: relative;
  width: 100%;
}

.omf-homepage {
  z-index: -1;
}

.container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  cursor: initial;
  opacity: 1;
  -webkit-animation: bg-loader 3s both;
          animation: bg-loader 3s both;
  background-color: #FFFFFF;
}

.container .loader__letter {
  color: #000000;
  font-size: 2rem;
  font-family: 'Shrikhand', cursive;
  letter-spacing: 10px;
  margin-bottom: 150px;
  -webkit-animation: wave 1200ms ease 0s;
          animation: wave 1200ms ease 0s;
  opacity: 1;
  z-index: 99;
}

.container .loader__letter:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.container .loader__letter:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.container .loader__letter:nth-child(3) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.container .loader__letter:nth-child(4) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.container .loader__letter:nth-child(5) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.container .loader__letter:nth-child(6) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}

.container .loader__letter:nth-child(7) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}

.container .loader__letter:nth-child(8) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

@-webkit-keyframes bg-loader {
  0% {
    opacity: 1;
    z-index: 99;
  }
  99% {
    opacity: 1;
    z-index: 99;
  }
  100% {
    opacity: 0;
    z-index: -99;
  }
}

@keyframes bg-loader {
  0% {
    opacity: 1;
    z-index: 99;
  }
  99% {
    opacity: 1;
    z-index: 99;
  }
  100% {
    opacity: 0;
    z-index: -99;
  }
}

@-webkit-keyframes wave {
  0% {
    cursor: wait;
    background-color: 255, 255, 255, 0.9;
    color: #000000;
    text-shadow: 0 0 7px #d9d9d9;
    opacity: 1;
  }
  90% {
    background-color: 255, 255, 255, 0.9;
    color: #000000;
    text-shadow: none;
    opacity: 0;
    cursor: wait;
  }
  100% {
    color: transparent;
    text-shadow: 0 0 7px #d9d9d9;
    z-index: -99;
    opacity: 0;
  }
}

@keyframes wave {
  0% {
    cursor: wait;
    background-color: 255, 255, 255, 0.9;
    color: #000000;
    text-shadow: 0 0 7px #d9d9d9;
    opacity: 1;
  }
  90% {
    background-color: 255, 255, 255, 0.9;
    color: #000000;
    text-shadow: none;
    opacity: 0;
    cursor: wait;
  }
  100% {
    color: transparent;
    text-shadow: 0 0 7px #d9d9d9;
    z-index: -99;
    opacity: 0;
  }
}

.fas.fa-heart.full {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.fas.fa-heart.full::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-favorite:hover .far.fa-heart.empty {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-favorite:hover .fas.fa-heart.full {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu.starters {
  -webkit-animation: slide-up 1200ms ease-in-out;
          animation: slide-up 1200ms ease-in-out;
}

.menu.main-courses {
  -webkit-animation: slide-up 1500ms ease-in-out;
          animation: slide-up 1500ms ease-in-out;
}

.menu.desserts {
  -webkit-animation: slide-up 1800ms ease-in-out;
          animation: slide-up 1800ms ease-in-out;
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.menu-list:hover {
  -webkit-transform: translate(0px);
          transform: translate(0px);
}

.menu-list:hover h3, .menu-list:hover .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list:hover .icon {
  width: 75px;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.menu-list:hover .icon .fas.fa-check-circle {
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  opacity: 1;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/*
BASE
*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  padding: 0;
  color: #000000;
}

form {
  text-align: center;
}

form .order__button {
  border: none;
  border-radius: 25px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  width: 190px;
  margin-top: 8px;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

form .order__button:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: 0px 5px 5px 0px #a6a6a6;
          box-shadow: 0px 5px 5px 0px #a6a6a6;
}

.btn-favorite {
  background: transparent;
  border: 1px solid transparent;
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0;
}

.btn-favorite-resto {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.btn-favorite-menu {
  position: absolute;
  right: 10px;
  top: 20px;
}

@media only screen and (min-width: 600px) {
  .btn-favorite-menu {
    position: relative;
    top: 0px;
    right: 0px;
  }
}

.btn.back-home {
  background: transparent;
  border: 1px solid transparent;
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 6px;
  top: 6px;
}

@media only screen and (min-width: 600px) {
  .btn.back-home {
    left: 6px;
    top: 6px;
  }
}

.btn.back-home .fa-arrow-left {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
}

@media only screen and (min-width: 600px) {
  .btn.back-home .fa-arrow-left {
    font-size: 2rem;
  }
}

.menu-list .icon {
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 0px;
}

.menu-list .icon .fas.fa-check-circle {
  opacity: 0;
  color: #FFFFFF;
  font-size: 1.3rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 600ms;
  transition: 600ms;
}

.menu-list .icon .fas.fa-check-circle::before {
  content: "\f058";
}

.fa-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.5rem;
  width: inherit;
  height: inherit;
}

.fas.fa-heart.full {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fas.fa-heart.full::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  text-align: center;
  background-color: #EAEAEA;
  padding: 15px;
}

.search__icon {
  padding-left: 60px;
}

.search__input {
  margin: 0px;
  padding-left: 10px;
  border: none;
  background-color: #EAEAEA;
}

.search__input::-webkit-input-placeholder {
  outline: none;
  color: #000000;
  font-size: 1rem;
}

.search__input:-ms-input-placeholder {
  outline: none;
  color: #000000;
  font-size: 1rem;
}

.search__input::-ms-input-placeholder {
  outline: none;
  color: #000000;
  font-size: 1rem;
}

.search__input::placeholder {
  outline: none;
  color: #000000;
  font-size: 1rem;
}

.jumbotron {
  padding: 1.3rem 1.3rem;
  text-align: center;
  background-color: #F6F6F6;
}

.jumbotron__heading {
  font-size: 1.5rem;
  padding: 0 2rem;
}

.jumbotron__paragraph {
  font-weight: lighter;
  font-size: 1.1rem;
}

.jumbotron__button {
  border: none;
  border-radius: 25px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  width: 220px;
}

.jumbotron__button:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: 0px 5px 5px 0px #a6a6a6;
          box-shadow: 0px 5px 5px 0px #a6a6a6;
}

section.instructions {
  padding: 1.3rem 1.3rem;
}

@media only screen and (min-width: 768px) {
  section.instructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 1175px;
    padding: 1.3rem 0;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 600px) {
  .instructions__heading {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .instructions__heading {
    margin: 2rem auto;
  }
}

.instructions__list {
  position: relative;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .instructions__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.instructions__list li {
  background-color: #F6F6F6;
  padding-left: 5px;
}

@media only screen and (min-width: 768px) {
  .instructions__list li {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .instructions__list li {
    max-width: 300px;
  }
}

.instructions__list li:hover {
  background-color: rgba(146, 86, 220, 0.12);
}

.instructions__list li:hover .fas {
  color: #9356DC;
}

.instructions__list li span {
  position: absolute;
  left: -12PX;
  border-radius: 50%;
  border: 1px solid #9356DC;
  padding: 5px 8px;
  background-color: #9356DC;
  font-size: 0.8rem;
  color: #FFFFFF;
}

.instructions__list li i {
  margin: 0 1.5rem 0 .7rem;
  color: #7e7e7e;
  font-size: 1.2rem;
  padding-left: 20px;
}

.restaurants__bloc__card {
  width: auto;
  height: 250px;
  max-width: 500px;
  max-height: 300px;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.1rem;
  -webkit-box-shadow: #d9d9d9 0px 5px 5px 0px;
          box-shadow: #d9d9d9 0px 5px 5px 0px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 600px) {
  .restaurants__bloc__card {
    margin: 2rem auto;
  }
}

@media only screen and (min-width: 768px) {
  .restaurants__bloc__card {
    width: 45%;
    max-width: 500px;
    margin: 1rem auto;
  }
}

@media only screen and (min-width: 1024px) {
  .restaurants__bloc__card {
    margin: 2rem 1.5rem;
    max-width: 500px;
    height: 300px;
  }
}

.restaurants__bloc__card img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  -o-object-position: bottom;
     object-position: bottom;
  z-index: 1;
}

@media only screen and (min-width: 600px) {
  .restaurants__bloc__card img {
    -o-object-position: center 60%;
       object-position: center 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .restaurants__bloc__card img {
    height: 220px;
  }
}

.restaurants__bloc__card img.img-2 {
  -o-object-position: center 60%;
     object-position: center 60%;
}

.restaurants__bloc__card span.new {
  position: absolute;
  z-index: 2;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 0.85rem;
  font-weight: 500;
  color: #2c9c81;
}

.restaurants__bloc__card__description {
  padding: 13px 0 0 12px;
  border-radius: 20px;
}

.restaurants__bloc__card__description h3 {
  margin: 0px;
  padding-bottom: 4px;
}

.restaurants__bloc__card__description p {
  margin: 0;
  font-weight: 300;
  font-size: 1.05rem;
}

.banner {
  background-color: #F6F6F6;
  width: 100%;
  height: 310px;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .banner {
    height: 350px;
  }
}

@media only screen and (min-width: 768px) {
  .banner {
    height: 430px;
  }
}

@media only screen and (min-width: 1024px) {
  .banner {
    height: 500px;
    max-width: none;
  }
}

.banner__img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 600px) {
  .banner__img {
    height: 330px;
  }
}

@media only screen and (min-width: 768px) {
  .banner__img {
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .banner__img {
    height: 450px;
    width: 100%;
  }
}

.banner__heading {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 30px 20px 12px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 600px) {
  .banner__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 3rem 0.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .banner__heading {
    margin-left: auto;
    margin-right: auto;
  }
}

.banner h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;
  position: relative;
  max-width: 90%;
}

@media only screen and (min-width: 600px) {
  .banner h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-list {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  border-radius: 15px;
  -webkit-box-shadow: #d9d9d9 0px 5px 5px 0px;
          box-shadow: #d9d9d9 0px 5px 5px 0px;
  margin: 1rem auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .menu-list {
    max-width: 600px;
  }
}

@media only screen and (min-width: 1024px) {
  .menu-list {
    max-width: 500px;
  }
}

.menu-list__item {
  position: relative;
  width: 100%;
  padding: 12px;
  overflow: hidden;
}

.menu-list__item h3 {
  width: 83%;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
  line-height: 25px;
}

.menu-list__item .description {
  font-size: 0.95rem;
  width: 83%;
  margin: 0;
  line-height: 20px;
  font-weight: 300;
}

.menu-list__item .price {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

/*
header omf homepage
-> add relative position & box-shadow
-> hidden the arrow for back homepage
*/
.omf-homepage header {
  position: relative;
  -webkit-box-shadow: #CFCFCF 0px 3px 5px 0px;
          box-shadow: #CFCFCF 0px 3px 5px 0px;
}

.omf-homepage header .btn.back-home {
  display: none;
}

header {
  padding: 1.3rem 1.3rem;
  padding-bottom: 8px;
  text-align: center;
}

header img.header__brand-logo {
  width: 50%;
  max-width: 300px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .omf-homepage, main, form {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  section {
    margin: auto;
  }
}

.omf-menu main {
  background-color: #F6F6F6;
}

@media only screen and (min-width: 1024px) {
  .restaurant-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem auto;
    max-width: 1440px;
  }
}

.order {
  padding: 30px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #353535;
}

@media only screen and (min-width: 768px) {
  footer {
    width: 100%;
    padding: 1.3rem 1.3rem;
  }
}

.footer-nav {
  padding: 1.3rem 1.3rem;
}

@media only screen and (min-width: 768px) {
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1440px;
    margin: auto;
  }
}

.footer-nav__logo {
  padding-top: 5px;
  padding-bottom: 20px;
}

.footer-nav__logo a {
  font-size: 1.1rem;
  color: #FFFFFF;
  font-family: "Shrikhand", cursive;
}

@media only screen and (min-width: 768px) {
  .footer-nav__logo a {
    font-size: 1.5rem;
  }
}

.footer-nav__links {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  margin-bottom: 0;
}

.footer-nav__links i {
  padding-right: 10px;
}

.footer-nav__links i.fa-hands-helping {
  font-size: 0.7rem;
}

.footer-nav__links__item {
  padding-bottom: 8px;
  font-size: 1rem;
}

.footer-nav__links__item a {
  color: #FFFFFF;
}

.restaurants {
  padding: 1.3rem 1.3rem;
  background-color: #F6F6F6;
}

@media only screen and (min-width: 768px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.3rem 0;
  }
}

.restaurants__heading {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .restaurants__heading {
    text-align: center;
    margin: 2rem auto;
  }
}

.restaurants__bloc {
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .restaurants__bloc {
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1.5rem 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .restaurants__bloc {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.menu {
  padding: 10px 15px 0 15px;
}

@media only screen and (min-width: 600px) {
  .menu {
    margin-left: auto;
    margin-right: auto;
    margin: 1rem auto;
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .menu {
    margin: 1rem 1rem;
    width: 100%;
  }
}

.menu h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 20px;
  padding-left: 5px;
}

@media only screen and (min-width: 600px) {
  .menu h2 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  .menu h2 {
    max-width: 600px;
  }
}

.menu h2::before {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
/*# sourceMappingURL=main.css.map */