.restaurants {
    @include padding-bloc;
    background-color: $color-light-gray;

    @include medium-only {
        display: flex;
    	flex-direction: column;
    	padding: 1.3rem 0;
    }

    &__heading {
        width: 100%;
        margin-top: 30px;

        @include small-only {
            text-align: center;
            margin: 2rem 0 auto;
        }
    }

    &__bloc {
        padding-bottom: 20px;
        @include auto-center;

        @include medium-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 1.5rem auto;
            padding-bottom: 10px;
        }

        @include large-only {
            max-width: $max-width-sections;
            @include auto-center;
        }
    }
}