//animation spinner loading ============================================================
//homepage

.omf-homepage {
    z-index: -1;

}
.container {
    position: fixed;
    @include center-icon;
    width: 100%;
    height: 100%;
    cursor: initial;
    opacity: 1;
    animation: bg-loader 3s both;//both
    background-color: white;

    & .loader {
        &__letter {
            color: $color-dark-text;
            font-size: 5rem;
            font-family: 'Shrikhand', cursive;
            letter-spacing: 10px;
            margin-bottom: 150px;
            animation: wave 1200ms ease 0s; //1200ms
            opacity: 1;
            z-index: 99;
    
            &:nth-child(1){
                animation-delay: 100ms;
            }
            &:nth-child(2){
                animation-delay: 300ms;
            }
            &:nth-child(3){
                animation-delay: 500ms;
            }
            &:nth-child(4){
                animation-delay: 700ms;
            }
            &:nth-child(5){
                animation-delay: 900ms;
            }
            &:nth-child(6){
                animation-delay: 1100ms;
            }
            &:nth-child(7){
                animation-delay: 1300ms;
            }
            &:nth-child(8){
                animation-delay: 1500ms;
            }
        }
    }
}

@keyframes bg-loader {
    0% {
        opacity: 0.9;
        z-index: 99;
    }
    99% {
        opacity: 0.9;
        z-index: 99;
    }
    100% {
        opacity: 0;
        z-index: -99;
    }
}

@keyframes wave {
    0% {
        cursor: wait;
        background-color: (255, 255, 255, 0.9);
        color: $color-dark-text;
        text-shadow: 0 0 7px $color-shadow-gray;
        opacity: 1;
        margin-bottom: 250px;
    }
    90% {
        background-color: (255, 255, 255, 0.9);
        color: $color-dark-text;//transparent
        text-shadow: none;
        opacity: 0;
        cursor: wait;
    }
    
    100% {
        color: transparent;
        text-shadow: 0 0 7px $color-shadow-gray;
        z-index: -99;
        opacity: 0;
        }
}







//animation change heart's color with hover ============================================
//homepage and menus' pages
.btn-favorite:hover .far.fa-heart.empty {
    background: $color-linear-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.btn-favorite:hover .fas.fa-heart.full {
    // background-clip: text;
    background: $color-linear-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1);
}


// progressive appearance of dishes ===================================================

.menu {
    &.starters {
        animation: slide-up 2s ease-in-out;
    }
    &.main-courses {
        animation: slide-up 3s ease-in-out;
    }
    &.desserts {
        animation: slide-up 4s ease-in-out;
    }
    
}

@keyframes slide-up{
    from { 
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0); 
        opacity: 1;
    }
}


// animation for the Check, hover the menu-list ========================================
//menus' pages
.menu-list:hover {
    transform: translate(0px);

    & h3, .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .icon {
        width: 75px;
        transition: 450ms ease-in-out;

        & .fas.fa-check-circle {
            transition: 450ms ease-in-out;
            opacity: 1;
            transform: rotate(-360deg);
        }
    }
}

