// animation menus pages
// animation for the Check, hover the menu-list :
.menu-list:hover {
    transform: translate(0px);
    & h3, .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & .icon {
        width: 75px;
        & .fas.fa-check-circle {
            opacity: 1;
            transform: rotate(360deg);
        }
    }
}

// animation homepage cards and main title menu pages
//animation change heart's color with hover:
.btn.favorite .far.fa-heart::before {
    font-weight: normal;
    transition-property: font-weight, background-color;
    // transition-duration: 700ms ease;
    transition: all 0.7s ease-out 0s;//linear
    transition: opacity 800ms;
}
.btn.favorite:hover .far.fa-heart::before {
    font-weight: bolder;
    background: $color-linear-gradient;

    /*!important*/
    background-clip: text;  
    -webkit-background-clip: text;
    color: transparent;

    transition: opacity 800ms ease-in-out; // regler la vitesse de remplissage
    // -webkit-text-fill-color: transparent;
}

// animation menus pages
// progressive appearance of dishes




// animation homepage
//animation spinner loading