//Media Queries Variables

//large phone
$breakpoint-small: 600px;
//tablet
$breakpoint-medium: 768px;
//desktop
$breakpoint-large: 1024px;


//Media Queries Mixins
@mixin small-only {
    @media only screen and (min-width: $breakpoint-small) {
        @content;
    }
}
 
@mixin medium-only {
    @media only screen and (min-width: $breakpoint-medium) {
        @content;
    }
}

@mixin large-only {
    @media only screen and (min-width: $breakpoint-large) {
        @content;
    }
}

//variable for max-width of sections in the large version
$max-width-sections: 1440px; //1200px
