// footer for homepage & pages menus
footer {
    background-color: $color-bg-footer;

    @include medium-only {
        width: 100%;
	    padding: 1.3rem 1.3rem;
    }
}

.footer-nav {
    @include padding-bloc;

    @include medium-only {
        display: flex;
	    justify-content: space-around; //space-between
        max-width: $max-width-sections;
        margin: auto;
    }
    
    &__logo {
        padding-top: 5px;
        padding-bottom: 20px;
        & a {
            font-size: 1.1rem;
            color: $color-white;
            font-family: $font-logo-title;

            @include medium-only {
                font-size: 1.5rem;
            }
        }
    }

    &__links {
        @include reset-list;
        margin-bottom: 0;
        & i {
            padding-right: 10px;
            &.fa-hands-helping {
                font-size: 0.7rem;
            }
        }
        
        &__item {
            padding-bottom: 8px;
            font-size: 1rem;
            & a {
                color: $color-white;
            }
        }
    }
}
