// header
header {
    padding: 1.3rem 1.3rem;
    padding-bottom: 8px;
    text-align: center;
    // @include header-shadow;
    // position: relative;
    img.header__brand-logo {
        width: 50%;
        max-width: 300px;
    }

    //arrow back previous page
    .fa-arrow-left {
    // position: absolute;
    float: left;
    left: 20px;
    top: 25px;
    font-size: 1.3rem;
    }
}

/*
header omf homepage
-> add relative position & box-shadow
-> hidden the arrow for back homepage
*/
.omf-homepage header{
    position: relative;
    @include header-shadow;
    & .back-home {
        display: none;
    }
}
    
