// header homepage omf

header {
    @include padding-bloc;
    padding-bottom: 5px;
    @include header-shadow;
    text-align: center;
    // position: relative;
        img.header__brand-logo {
            width: 52%;
        }
}
