//==================================================================
//Main Button
//Menus' pages


//button for order
form { 
    text-align: center;
    & .order__button {
        @include button;
        width: 187px;
        margin-top: 8px;
        transition-duration: 200ms;

        // darken the shadow-box and 
        //brightness the color for the linear-gradient button
        &:hover {
            filter: brightness(115%);
            @include box-shadow-darken;
        }
    }
}


//==================================================================
//Button Favorite + Hearts Icon

//Button ==============================================
//Base for all .btn-favorite (homepage & menu's pages)
.btn-favorite{
    @include btn-icon;
}

 // rules for .btn-favorite-resto (homepage)
.btn-favorite-resto {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

// rules for .btn-favorite-menu (menu's pages)
.btn-favorite-menu {
    position: absolute;
    right: 10px;
    top: 20px;

    @include small-only {
        position: relative;
        top: 0px;
        right: 0px;
    }
}


//======================================================
//button
//arrow back previous page
.btn.back-home {
    @include btn-icon;
    position: absolute;
    left: 6px;
    top: 6px;

    .fa-arrow-left {
        position: absolute;
        @include center-icon;
        font-size: 1.3rem;

        @include small-only {
        font-size: 2rem;
        }
    }
}
