//==================================================================
//Main Button

//button for order
form { 
    text-align: center;
    & .order__button {
        @include button;
        width: 190px;
        margin-top: 8px;
    }
}

// darken the shadow-box and 
//brightness the color for the linear-gradient button
.jumbotron__button:hover,
.order__button:hover {
    filter: brightness(115%);
    @include box-shadow-darken;
 }

//==================================================================
//Button Favorite + Hearts Icon

//Button ==============================================
//Base for all .btn-favorite (homepage & menu's pages)
.btn-favorite{
    @include btn-icon;
}

 // rules for .btn-favorite-resto (homepage)
 .btn-favorite-resto {
    position: absolute;
    right: 10px;
    bottom: 20px;
 }

// rules for .btn-favorite-menu (menu's pages)
.btn-favorite-menu {
    position: absolute;
    right: 10px;
    top: 20px;

    @include small-only {
        position: relative;
        top: 0px;
        right: 0px;
    }
}

// Heart Icon  =========================================
//Base for all heart icon
.fa-heart {
    @include center-icon;
    @include heart;
}

//rules for empty heart

//rules for full heart
.fas.fa-heart.full {
    background: $color-linear-gradient;
    transform: scale(0);
    transition: 600ms linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // add for safari otherwise the heart is transparent
    &::before {
        background: $color-linear-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // color: $color-linear-gradient;
        // background-clip: text;
    }
}
