// base for main button
@mixin button {
    border: none;
    border-radius: 25px;
    padding: 15px;
    color: $color-white;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 30px;
    // background: linear-gradient($color-secondary, $color-primary);
    background: $color-linear-gradient;
}

//button for order
form { 
    text-align: center;
    & .order__button {
        @include button;
        width: 190px;
        margin-top: 8px;
    }
}

// darken the shadow-box and 
//brightness the color for the linear-gradient button
.jumbotron__button:hover,
.order__button:hover {
    filter: brightness(115%);
    @include box-shadow-darken;
 }

 //button favorite with hearts icon
 .btn.favorite {
    background-color: $color-white;
    border: 1px solid transparent; //transparent
    position: absolute;
    right: 10px;
    bottom: 15px;
    width: 54px;
    height: 54px;
    @include center-icon;
    padding: 0;
    cursor: pointer;

    .far.fa-heart.empty::before {
        @include center-icon;
        // position: absolute;
        top: 0px;
        right: 0px;
        font-size: 1.5rem;
        // z-index: 2;
        opacity: 1;
        width: inherit;
        height: inherit;
    }

    .fas.fa-heart.full::before {
        @include center-icon;
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 1.5rem;
        opacity: 0;
        // z-index: 1;
        // display: none;
        // visibility: hidden;
    }
}