//Jumbotron in the main page (homepage)

.jumbotron {
    @include padding-bloc;

    text-align: center;
    background-color: $color-light-gray;

    &__heading {
        font-size: 1.5rem;
        padding: 0 2rem;
    }

    &__paragraph {
        font-weight: lighter;
        font-size: 1.1rem;
    }

    //button for go to restaurants section
    &__button {
        @include button;
        width: 220px;

        // darken the shadow-box and 
        //brightness the color for the linear-gradient button
        &:hover {
            filter: brightness(115%);
            @include box-shadow-darken;
        }
    }
}
