/*
BASE
*/
body {
    margin: 0;
    padding: 0;
    font-family: $font-text;
}

*, ::before, ::after {
    box-sizing: border-box;
    outline: none;
}

a {
    @include reset-link;
    color: $color-dark-text;
}
